* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.buttonUp a {
    text-decoration: none;
}
.buttonUp div {
    width: 50px;
    height: 50px;
    background-color: #b28756;
    border-radius: 25px;
    margin-top: -305px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #fff;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}
header {
    color: #ffffff;
    height: 100px;
    background-color: #000000;
}
.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo {
    width: 100px;
}
.logoImg {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #b28756;
}
.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu ul,
.menu li {
    list-style: none;
}
.menu ul {
    display: flex;

}
.menu li a {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    border-bottom: 5px solid #000000;
}
.menu li a:hover,
.menu .active a
 {
    border-bottom: 5px solid #b28756;
    color: #ccc;
}
.button {
    display: inline-block;
    background-color: #b28756;
    border-radius: 20px;
    padding: 15px 40px;
    margin-top: 40px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}
.buttonDark {
    background-color: #000;
}
.buttonDark:hover {
    background-color: #b28756;
}

/*inicio css banner*/
.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;/*ajusta a imagem de acordo com o espaço disponivel*/
    background-position: center;/*CENTER priorizar o centro da imagem, TOP a parte superior e BOTTOM a parte inferior*/
    overflow: hidden;
}   
.banner .sliders {
    width: 1000vw;
    height: 100%;
}
.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}
.banner .slideArea {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.banner h1 {
    text-transform: uppercase;
    font-weight: bold;  
    font-size: 50px;
}
.banner h1 span {
    color: #b28756;
}
.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}
.banner .slidersPointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer {
    width: 16px;
    height: 16px;
    border: 3px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.banner .pointer.active {
    background-color: #b28756;
}

.default {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ededed;
}
.default .sectionTitle,
.default .sectionDesc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.default .sectionTitle {
    font-size: 20px;
}
.default .sectionDesc {
    font-size: 12px;
    color: #ccc;
    margin-top: 13px;
    margin-bottom: 40px;
}
.default .sectionBody {
    max-width: 1140px;
    margin: auto;
}
.default.light {
    background-color: #ededed;
}
.default.light .sectionTitle,
.default.light .sectionBody {
    color: #000000;
}
.default.dark {
    background-color: #000000;
}
.default.dark .sectionTitle,
.default.dark .sectionBody{
    color: #ffffff;
}

footer {
    background-color: #000;
    color: #fff;
}
.footerArea {
    width: 1140px;
    margin: auto;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footerArea1, .footerArea2, 
.footerArea3 {
    flex: 1;
}
.footerArea1 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #999;
}
.footerArea1Social {
    display: flex;
    margin-bottom: 170px;
}
.footerAreaSocialItem {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background-color: #373737;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.footerAreaSocialItem:first-child {
    margin-left: 0px;
}
.footerAreaSocialItem:hover {
    background-color: #b28756;
}
.footerAreaSocialItemMais {
    width: 5px;
    height: 5px;
    border-radius: 3px;
    background-color: #fff;
    margin-left: 3px;
}
.footerAreaSocialItemMais:first-child {
    margin-left: 0px;
}
.footerArea1Copy {
}
.footerArea1Copy img {
    width: 16px;
}
.footerArea2 {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 13px;
    color: #999;
    line-height: 25px;
}
.footerArea3 form {
    background-color: #373737;
    text-align: center;
    padding: 30px;
    border-radius: 5px;
}
.footerArea3 input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #ccc;
    outline: 0;
    font-size: 14px;
    text-align: center;
    color: #fff;
}


.sectionAboutUs {
    display: flex;
}
.sectionAboutUs--left {
    flex: 1;
}
.sectionAboutUs--left p {
    font-size: 14px;
    line-height: 25px;
}
.sectionAboutUs--right {
    width: 520px;
    text-align: center;
}
.sectionAboutUs--right img{
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}

.sectionServices {
    display: flex;
}
.sectionService {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}
.sectionService:first-child {
    border-left: 1px solid #333;
}

.sectionService h4 {
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 30px;
}
.sectionService p {
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}


.sectionProjects {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sectionProjectsFilters {
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
    margin: auto;
}
.sectionProjectsFilters ul,
.sectionProjectsFilters li {
    list-style: none;

}
.sectionProjectsFilters li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #ccc;
    color: #555;
    border-bottom: 3px solid #eee;
    cursor: pointer;
}
.sectionProjectsFilters li:hover,
.sectionProjectsFilters li.active {
    border-bottom: 3px solid #b28756;
}
.sectionProjectsFilters li:first-child {
    border-left: none;
} 

.sectionProjectsPhotos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sectionProjectsPhoto {
    width: 280px;
}
.sectionProjectsPhotoArea {
    margin: 10px;
    width: 260px;
    height: 160px;
}
.sectionProjectsPhotoArea img {
    width: inherit;
    height: inherit;
}
.sectionProjectsPhotoInfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
}
.sectionProjectsPhotoInfo h5 {
    font-size: 18px;
    font-weight: 600;
}
.sectionProjectsPhotoArea:hover .sectionProjectsPhotoInfo{
    display: flex;
}



.bgTeam {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
}
.sectionTeamArea {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}


.sectionTeam {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}
.sectionTeam .sliders {
    width: 1000vw;
    height: 100%;
}
.sectionTeam .slide {
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #ffffff;
    margin-right: 15px;
}
.sectionTeam .slideArea {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #000000;
    padding: 30px;
}


.sectionTeamArea .slidersPointers {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.sectionTeamArea .pointer {
    width: 16px;
    height: 16px;
    border: 3px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.sectionTeamArea .pointer.active {
    background-color: #b28756;
}
.sectionTeamAvatar {
    width: 150px;
    height: auto;
}
.sectionTeamName {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 17px;
    margin-top: 30px;
}
.sectionTeamRole{
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}
.sectionTeamSocial {
    display: flex;
    margin: 20px;
}
.sectionTeamSocial a {
    display: inline-flex;
    width: 25px;
    height: 25px;
    background-color: #bebebe;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    margin-right: 10px;
}
.sectionTeamSocial a:hover {
    background-color: #b28756;
}





.sectionClient {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}
.sectionClient .sliders {
    width: 1000vw;
    height: 100%;
}
.sectionClient .slide {
    width: 880px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #ffffff;
    margin-right: 15px;
}
.sectionClient .slideArea {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #000000;
    padding: 30px;
}
.sectionClientAspas {
    margin-top: 35px;
    margin-bottom: 20px;
}
.sectionClientText {
    color: #555;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
}
.sectionClientName {
    font-weight: bold;
    font-size: 21px;
    margin-top: 35px;
    margin-bottom: 15px;
}
.sectionClientRole {
    font-weight: 400;
    font-size: 17px;
}

.sectionClientArea .slidersPointers {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.sectionClientArea .pointer {
    width: 16px;
    height: 16px;
    border: 3px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.sectionClientArea .pointer.active {
    background-color: #b28756;
}






.sectionEmpresas {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}
.sectionEmpresasArea {
    display: flex;
    align-items: center;
}
.sectionEmpresa {
    flex: 1;
    text-align: center;
}



.sectionPrice {
    display: flex;
}
.sectionPriceItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin: auto;
    padding: 30px;

}
.sectionPriceItemType {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 15px;
}
.sectionPriceItemValor {
    font-size: 30px;
    font-weight: 600;
}
.sectionPriceItemPlano {
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #999;
}
.sectionPriceItemInfo {
    text-align: center;
}


.sectionMap {
    background-image: url('../images/mapa.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.sectionMapArea {
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}
.sectionMapInfo {
    width: 50%;
    padding: 30px;
    background-color: #fff;
    color: #999;
}
.sectionMapInfoItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.sectionMapInfoItemImg {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #999;
    border-radius: 15px;
    margin-right: 15px;
}
.sectionMapInfoItemImg img {
    width: 15px;
    height: auto;
}







































